body{

    margin:0;
    padding:0;

    font-family:Arial, Helvetica, sans-serif;

    background:linear-gradient(135deg,#ffd1dc,#ffeaea);

    display:flex;

    justify-content:center;
    align-items:center;

    min-height:100vh;
}

.container{

    background:#ffffff;

    width:90%;
    max-width:500px;

    padding:40px;

    border-radius:25px;

    text-align:center;

    box-shadow:0px 15px 40px rgba(0,0,0,.15);

}

.photo{

    width:180px;
    height:180px;

    object-fit:cover;

    border-radius:50%;

    border:5px solid pink;

    margin-bottom:20px;

}

h1{

    color:#ff4d88;

}

.subtitle{

    color:#555;

    line-height:1.6;

    margin-bottom:30px;

}

.buttons{

    display:flex;

    flex-direction:column;

    gap:15px;

}

button{

    border:none;

    padding:15px;

    border-radius:15px;

    font-size:17px;

    cursor:pointer;

    background:#ff7aa2;

    color:white;

    transition:.25s;

}

button:hover{

    transform:scale(1.03);

    background:#ff5f90;

}

#player-container {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);

    width: 90%;
    max-width: 500px;

    background: #ffd1dc;
    padding: 10px;
    border-radius: 15px;

    box-shadow: 0 5px 20px rgba(0,0,0,0.2);

    z-index: 9999;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

#player-container.show {
    opacity: 1;
    pointer-events: auto;
}

#player-container.hidden {
    opacity: 0;
    pointer-events: none;
}

#player {
    width: 100%;
}